{
  "openapi": "3.0.0",
  "info": {
    "title": "Lupa's API Documentation",
    "version": "0.1.9",
    "description": "This is the official API documentation for Lupa's services."
  },
  "servers": [
    {
      "url": "https://www.lupa.build/api",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Local development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "SearchResponseSchema": {
        "type": "object",
        "properties": {
          "query": {
            "type": "string"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    }
                  ]
                },
                "score": {
                  "type": "number"
                },
                "vector": {
                  "type": "array",
                  "items": {
                    "type": "number"
                  },
                  "nullable": true
                },
                "sparseVector": {
                  "type": "object",
                  "properties": {
                    "indices": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    },
                    "values": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    }
                  },
                  "required": ["indices", "values"],
                  "nullable": true
                },
                "data": {
                  "type": "string",
                  "nullable": true
                },
                "metadata": {
                  "type": "object",
                  "properties": {},
                  "nullable": true
                }
              },
              "required": ["id", "score"]
            }
          }
        },
        "required": ["query", "results"]
      },
      "CreateDeploymentBodySchema": {
        "type": "object",
        "properties": {
          "deploymentId": {
            "allOf": [
              {
                "$ref": "#/components/schemas/IdSchema"
              }
            ]
          }
        }
      },
      "CreateDeploymentSuccessResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "txid": {
            "type": "number",
            "nullable": true
          }
        },
        "required": ["success"]
      },
      "CreateProjectRequestSchema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "description": "Unique project ID (use generateId with 'proj_' prefix)"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Project name"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Project description"
          }
        },
        "required": ["id", "name"]
      },
      "ProjectSuccessResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [true]
          },
          "txid": {
            "type": "number"
          }
        },
        "required": ["success", "txid"]
      },
      "querySchema": {
        "type": "object",
        "properties": {
          "allSnapshots": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ErrorResponseSchema": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": ["error"]
      },
      "BaseDocumentSchema": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "object"
          },
          "snapshotId": {
            "type": "object"
          },
          "folder": {
            "type": "string",
            "pattern": "/"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "enhance": {
            "type": "boolean",
            "nullable": true
          },
          "metadataSchema": {
            "type": "string",
            "nullable": true
          }
        },
        "required": ["folder", "name"]
      },
      "type": {
        "type": "string",
        "enum": ["website", "upload"]
      },
      "WebsiteSnapshotSchema": {
        "type": "object",
        "properties": {
          "snapshotId": {
            "type": "object"
          },
          "documentId": {
            "type": "object"
          },
          "enhance": {
            "type": "boolean",
            "nullable": true
          },
          "metadataSchema": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "refreshEnabled": {
            "type": "boolean",
            "nullable": true
          },
          "refreshFrequency": {
            "type": "string",
            "enum": ["daily", "weekly", "monthly"],
            "nullable": true
          }
        },
        "required": ["documentId", "documentId", "url"]
      },
      "UploadSnapshotSchema": {
        "type": "object",
        "properties": {
          "snapshotId": {
            "type": "object"
          },
          "documentId": {
            "type": "object"
          },
          "enhance": {
            "type": "boolean",
            "nullable": true
          },
          "metadataSchema": {
            "type": "string",
            "nullable": true
          },
          "file": {
            "type": "string"
          },
          "parsingInstructions": {
            "type": "string",
            "nullable": true
          }
        },
        "required": ["documentId", "documentId", "file"]
      },
      "CreateApiKeyRequestSchema": {
        "type": "object",
        "properties": {
          "apiKeyId": {
            "type": "object"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "projectId": {
            "type": "object"
          }
        },
        "required": ["apiKeyId", "apiKeyId", "name", "projectId", "projectId"]
      },
      "BulkDocumentItemSchema": {
        "type": "object",
        "properties": {
          "folder": {
            "type": "string",
            "default": "/"
          },
          "name": {
            "type": "string",
            "minLength": 1
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "minLength": 1
          },
          "refresh_frequency": {
            "type": "string",
            "enum": ["daily", "weekly", "monthly", "none"],
            "default": "none"
          },
          "enhance": {
            "type": "boolean",
            "default": false
          }
        },
        "required": ["folder", "name", "url", "refresh_frequency", "enhance"]
      },
      "BulkCreateDocumentsRequestSchema": {
        "type": "object",
        "properties": {
          "project_id": {
            "type": "object"
          },
          "documents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BulkDocumentItemSchema"
            },
            "minItems": 1
          }
        },
        "required": ["project_id", "project_id", "documents"]
      },
      "IdSchema": {
        "type": "string",
        "minLength": 10,
        "maxLength": 10
      },
      "WhereParamsSchema": {
        "type": "object",
        "properties": {
          "where": {
            "type": "string",
            "nullable": true
          },
          "params": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        }
      },
      "MapRequestSchema": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "minLength": 1
          },
          "limit": {
            "type": "number",
            "nullable": true,
            "default": 50
          }
        },
        "required": ["url"]
      },
      "ProjectErrorResponseSchema": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [false]
          },
          "error": {
            "type": "string"
          }
        },
        "required": ["success", "error"]
      },
      "DeploymentLogSchema": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "number"
          },
          "level": {
            "type": "string"
          }
        },
        "required": ["message", "timestamp", "level"]
      },
      "DeploymentLog": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "number"
          },
          "level": {
            "type": "string"
          }
        },
        "required": ["message", "timestamp", "level"]
      },
      "MetadataSchemaConfigSchema": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": ["infer", "custom"]
          },
          "schema": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "required": ["mode"]
      },
      "SnapshotSchema": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": ["queued", "error", "running"]
              },
              "type": {
                "type": "string",
                "enum": ["website", "upload"]
              }
            },
            "required": ["status", "type"]
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": ["success"]
              },
              "chunks_count": {
                "type": "number"
              },
              "type": {
                "type": "string",
                "enum": ["website"]
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "nullable": true
                  },
                  "favicon": {
                    "type": "string",
                    "nullable": true
                  },
                  "screenshot": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            },
            "required": ["status", "chunks_count", "type", "metadata"]
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": ["success"]
              },
              "chunks_count": {
                "type": "number"
              },
              "type": {
                "type": "string",
                "enum": ["upload"]
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "file_name": {
                    "type": "string",
                    "nullable": true
                  },
                  "file_size": {
                    "type": "number",
                    "nullable": true
                  },
                  "modified_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              }
            },
            "required": ["status", "chunks_count", "type", "metadata"]
          }
        ]
      },
      "Snapshot": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": ["queued", "error", "running"]
              },
              "type": {
                "type": "string",
                "enum": ["website", "upload"]
              }
            },
            "required": ["status", "type"]
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": ["success"]
              },
              "chunks_count": {
                "type": "number"
              },
              "type": {
                "type": "string",
                "enum": ["website"]
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "nullable": true
                  },
                  "favicon": {
                    "type": "string",
                    "nullable": true
                  },
                  "screenshot": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            },
            "required": ["status", "chunks_count", "type", "metadata"]
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "enum": ["success"]
              },
              "chunks_count": {
                "type": "number"
              },
              "type": {
                "type": "string",
                "enum": ["upload"]
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "file_name": {
                    "type": "string",
                    "nullable": true
                  },
                  "file_size": {
                    "type": "number",
                    "nullable": true
                  },
                  "modified_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true
                  }
                }
              }
            },
            "required": ["status", "chunks_count", "type", "metadata"]
          }
        ]
      },
      "defaultMetadataSchema": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "nullable": true,
            "description": "The category or topic of the content"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Key terms and concepts"
          },
          "summary": {
            "type": "string",
            "nullable": true,
            "description": "A brief summary of the content"
          },
          "language": {
            "type": "string",
            "nullable": true,
            "description": "The primary language of the content"
          },
          "contentType": {
            "type": "string",
            "nullable": true,
            "description": "Type of content (article, documentation, tutorial, etc.)"
          }
        }
      },
      "DefaultMetadata": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "nullable": true,
            "description": "The category or topic of the content"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "description": "Key terms and concepts"
          },
          "summary": {
            "type": "string",
            "nullable": true,
            "description": "A brief summary of the content"
          },
          "language": {
            "type": "string",
            "nullable": true,
            "description": "The primary language of the content"
          },
          "contentType": {
            "type": "string",
            "nullable": true,
            "description": "Type of content (article, documentation, tutorial, etc.)"
          }
        }
      }
    },
    "responses": {
      "400": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Invalid request parameters"
                },
                "code": {
                  "type": "string",
                  "example": "400"
                }
              }
            }
          }
        }
      },
      "401": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Authentication required"
                },
                "code": {
                  "type": "string",
                  "example": "401"
                }
              }
            }
          }
        }
      },
      "403": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Access denied"
                },
                "code": {
                  "type": "string",
                  "example": "403"
                }
              }
            }
          }
        }
      },
      "404": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Resource not found"
                },
                "code": {
                  "type": "string",
                  "example": "404"
                }
              }
            }
          }
        }
      },
      "409": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "Resource already exists"
                },
                "code": {
                  "type": "string",
                  "example": "409"
                }
              }
            }
          }
        }
      },
      "500": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "example": "An unexpected error occurred"
                },
                "code": {
                  "type": "string",
                  "example": "500"
                }
              }
            }
          }
        }
      }
    }
  },
  "outputDir": "./src/app/docs",
  "paths": {
    "/projects": {
      "post": {
        "operationId": "post-projects",
        "summary": "Create a new project",
        "description": "Creates a new project in the system. Projects are top-level organization units that contain documents and deployments.",
        "tags": ["Projects"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequestSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectSuccessResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/projects/{projectId}/deployments": {
      "post": {
        "operationId": "post-projects-{projectId}-deployments",
        "summary": "Create deployment",
        "description": "Create a new deployment record.",
        "tags": ["Projects"],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeploymentBodySchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDeploymentSuccessResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/projects/{projectId}/deployments/{deploymentId}/search/{query}": {
      "get": {
        "operationId": "get-projects-{projectId}-deployments-{deploymentId}-search-{query}",
        "summary": "Search within a deployment",
        "description": "Perform a search query against the specified deployment.",
        "tags": ["Projects"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponseSchema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    }
  }
}
